body {background-color: #99cc66;
		color:#ccff99; }
		
h1 { background-color: #99cc99;
		color: #ccff00; }
		
h2 { background-color: #99cc99 ; color: #009900; }

h3 { background-color: #99cc99;
		color: #339966; }

ul li { color: #336633;}		
		
footer p { color: #339900; }

nav a { background-color: #00cc99; }

nav { background-color: #99cc99;}

.content { color: #ccff00; }

#content { background-color: #00cc66; }





